body{
  background-color: #f7f4e9;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color:grey;
  border-width:4px;
  width: 5%;
}
img:hover {
  background-color: gold;
}
h1{
  color: #1e836c;
}

h3{
  color: #1e836c;
}
.circular{
  border-radius:45% ;
}
